# Владельцы по умолчанию — для всех файлов вне frontend/ и backend/

* @Chaice1 @Kiryukha @mrpeet21 @Arseny-P @dollyshern @LikeSomeDude

/frontend/   @Arseny-P @dollyshern
/backend/    @Chaice1 @Kiryukha
